<a href="https://colab.research.google.com/github/sipocz/_dengue/blob/main/_dengue_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:

#_Dengue

_PCVERSION_=False


if _PCVERSION_:
    basedir="C:/Users/sipocz/OneDrive/Dokumentumok/GitHub"
else:
    from google.colab import drive
    drive.mount('/content/drive',force_remount=True)
    basedir="/content/drive/My Drive/001_AI"

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


#--------------scikit import 
from sklearn.ensemble import IsolationForest
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

#--------------
def outlierStatistic(X_train_predict):
    print(X_train_predict)
    maxX=len(X_train_predict)
    outlier=0
    for i in X_train_predict:
        if i==-1:
            outlier+=1
    print(f"A összes ({maxX} darabból {outlier} darab outlier van. Az {outlier/maxX*100:5.1f} %.)")

features_train=basedir+"/_dengue/dengue_features_train.csv"
labels_train=basedir+"/_dengue/dengue_labels_train.csv"


X_train=pd.read_csv(features_train)
y_train=pd.read_csv(labels_train)

Mounted at /content/drive

In [8]:
X_train

     city  year  ...  station_min_temp_c station_precip_mm
0      sj  1990  ...                20.0              16.0
1      sj  1990  ...                22.2               8.6
2      sj  1990  ...                22.8              41.4
3      sj  1990  ...                23.3               4.0
4      sj  1990  ...                23.9               5.8
...   ...   ...  ...                 ...               ...
1451   iq  2010  ...                22.4              27.0
1452   iq  2010  ...                21.7              36.6
1453   iq  2010  ...                19.2               7.4
1454   iq  2010  ...                21.0              16.0
1455   iq  2010  ...                22.2              20.4

[1456 rows x 24 columns]

In [11]:
y_train

     city  year  weekofyear  total_cases
0      sj  1990          18            4
1      sj  1990          19            5
2      sj  1990          20            4
3      sj  1990          21            3
4      sj  1990          22            6
...   ...   ...         ...          ...
1451   iq  2010          21            5
1452   iq  2010          22            8
1453   iq  2010          23            1
1454   iq  2010          24            1
1455   iq  2010          25            4

[1456 rows x 4 columns]

In [19]:

X_train_sj=X_train[X_train.city == "sj"]
X_train_iq=X_train[X_train.city == "iq"]

    city  year  ...  station_min_temp_c station_precip_mm
0     sj  1990  ...                20.0              16.0
1     sj  1990  ...                22.2               8.6
2     sj  1990  ...                22.8              41.4
3     sj  1990  ...                23.3               4.0
4     sj  1990  ...                23.9               5.8
..   ...   ...  ...                 ...               ...
931   sj  2008  ...                21.1               1.8
932   sj  2008  ...                22.2               0.5
933   sj  2008  ...                21.7              30.7
934   sj  2008  ...                21.7              11.2
935   sj  2008  ...                23.3               0.3

[936 rows x 24 columns]

In [26]:
pd.Timestamp.to_julian_date({"year":2020,"months":11, "day":3})

AttributeError: ignored